@model IEnumerable<CadeteriaWeb.ViewModels.CadeteViewModel>

@{
    ViewData["Title"] = "Listado de cadetes activos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title-custom">@ViewData["Title"]</h1>

<p>
    <a class="btn btn-custom" asp-action="DarAltaCadete" asp-controller="Cadete">Dar de alta un cadete</a>
</p>
<table class="table table-striped table-hover">
    <thead class="thead-custom">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Todos los pedidos", "ListarPor", "Pedidos", new { entidad = 1, id=item.Id}, new { @class="btn btn-primary"})
                    @Html.ActionLink("Editar", "EditarCadete", "Cadete", new { id=item.Id }, new { @class="btn btn-secondary"})
                    @Html.ActionLink("Borrar", "DarBajaCadete", "Cadete", new { id=item.Id}, new { @class="btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
