@model CadeteriaWeb.ViewModels.PedidoViewModel

@{
    ViewData["Title"] = "Dar de alta nuevo pedido";
    List<SelectListItem> cadetesDisponibles = (List<SelectListItem>)ViewBag.cadetesDisponibles;
    List<SelectListItem> clientesDisponibles = (List<SelectListItem>)ViewBag.clientesDisponibles;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4 position-absolute top-50 start-50 translate-middle">
        <div class="row mb-3">
            <h1 class="col text-center title-custom">@ViewData["Title"]</h1>
        </div>
        <hr />
        <form class="d-grid gap-3 mb-3 p-3 form-custom asp-action="DarAltaPedido" asp-controller="Pedidos" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Context.Session.GetInt32("Rol") == 1)
            {
                <div class="form-group">
                    <label asp-for="IdCadete" class="control-label"></label>
                    @Html.DropDownList("IdCadete",cadetesDisponibles,"Seleccione un cadete", new { @class="form-select"})
                    <span asp-validation-for="IdCadete" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="IdCadete" class="control-label"></label>
                    <select id="IdCadete" name="IdCadete" class="form-select" disabled>
                        <option value="@Context.Session.GetInt32("IdCadete")">@Context.Session.GetString("Nombre")</option>
                    </select>
                    <span asp-validation-for="IdCadete" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                @Html.DropDownList("IdCliente",clientesDisponibles,"Seleccione un cliente", new { @class="form-select" })
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div>
                <a class="btn btn-custom" asp-action="DarAltaCliente" asp-controller="Cliente">Crear cliente</a>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control"/>
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear pedido" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a class="btn btn-custom" asp-action="Listar" asp-controller="Pedidos">Volver</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
