@model IEnumerable<CadeteriaWeb.ViewModels.PedidoViewModel>

@{
    ViewData["Title"] = "Listado de pedidos del cliente " + ViewBag.clienteNombre; ;
    ViewData["Rol"] = Context.Session.GetString("Rol");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class"">@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead style="background-color:#807C74; color: white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCadete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCadete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoDescripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCadete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCadete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoDescripcion)
            </td>
            <td>
                    @Html.ActionLink("Editar", "EditarPedido", "Pedidos",  new { id=item.Id} , new { @class="btn btn-secondary"})
                @if (item.EstadoId != 5)
                {
                    @Html.ActionLink("Cancelar", "DarBajaPedido", "Pedidos", new { id = item.Id }, new { @class="btn btn-danger"})
                }
            </td>
        </tr>
}
    </tbody>
</table>
